<ion-view view-title="Account">
  <ion-content>

    <div class="card settings">
      <div class="item item-divider">
        Commute work-bound
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Route
            </div>
            <select ng-change="routeInboundSelected()" ng-model="form.routeInbound">
              <option ng-repeat="option in routes" value="{{option}}">{{option}}</option>
            </select>
          </label>

          <ion-spinner icon="lines" class="spinner" ng-show="!stopsInward.length"></ion-spinner>

          <label class="item item-input item-select" ng-show="stopsInward.length">
            <div class="input-label">
              Stop
            </div>
            <select ng-change="stopInboundSelected()" ng-model="form.stopInbound" ng-value="{{option.id}}"  ng-options="stop as stop.label for stop in stopsInward track by stop.id"></select>
          </label>
      </div>
      <div class="item item-divider">
        Select your bus route to work
      </div>
    </div>


    <div class="card settings">
      <div class="item item-divider">
        Commute homeward-bound
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Route
            </div>
            <select ng-change="routeOutboundSelected()" ng-model="form.routeOutbound">
              <option ng-repeat="option in routes" value="{{option}}">{{option}}</option>
            </select>
          </label>

          <ion-spinner icon="lines" class="spinner" ng-show="!stopsOutward.length"></ion-spinner>

          <label class="item item-input item-select" ng-show="stopsOutward.length">
            <div class="input-label">
              Stop
            </div>
            <select ng-change="stopOutboundSelected()" ng-model="form.stopOutbound" ng-value="{{option.id}}" ng-options="stop as stop.label for stop in stopsOutward track by stop.id"></select>
          </label>
      </div>
      <div class="item item-divider">
        Select your bus route home
      </div>
    </div>
  </ion-content>
</ion-view>
