<ion-view view-title="Account">
  <ion-content>

    <form ng-submit="saveSettings(form)">

      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">InboundRoute</span>
          <input type="text" placeholder="Route No." ng-model="form.routeInbound" value="{{inboundRoute}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">InboundStop</span>
          <input type="text" placeholder="Stop No." ng-model="form.stopInbound" value="{{inboundStop}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">OutboundRoute</span>
          <input type="text" placeholder="Route No." ng-model="form.routeOutbound" value="{{outboundRoute}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">OutboundStop</span>
          <input type="text" placeholder="Stop No." ng-model="form.stopOutbound" value="{{outboundStop}}">
        </label>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive">Save</button>
      </div>
    </form>

  </ion-content>
</ion-view>
