<ion-view view-title="Account">
  <ion-content>


    <div class="card settings">
      <div class="item item-divider">
        Work-bound : Route {{form.routeInbound}}, Stop {{form.stopInbound}}
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Route
            </div>
            <select ng-change="routeInboundSelected()" ng-model="form.routeInbound">
              <option ng-repeat="option in routes" value="{{option}}">{{option}}</option>
            </select>
          </label>

          <ion-spinner icon="lines" class="spinner" ng-show="!stopsInward.length"></ion-spinner>

          <label class="item item-input item-select" ng-show="stopsInward.length">
            <div class="input-label">
              Stop
            </div>

            <select ng-change="stopInboundSelected()" ng-model="form.stopInbound">
              <option value="">Select your stop</option>
              <option ng-repeat="stop in stopsInward" value="{{stop.id}}">
                {{stop.label}}
              </option>
            </select>

          </label>
      </div>
      <div class="item item-divider">
        Select your bus route to work.
      </div>
    </div>







    <div class="card settings">
      <div class="item item-divider">
        Homeward-bound : Route {{form.routeOutbound}}, Stop {{form.stopOutbound}}
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Route
            </div>
            <select ng-change="routeOutboundSelected()" ng-model="form.routeOutbound">
              <option ng-repeat="option in routes" value="{{option}}">{{option}}</option>
            </select>
          </label>

          <ion-spinner icon="lines" class="spinner" ng-show="!stopsOutward.length"></ion-spinner>

          <label class="item item-input item-select" ng-show="stopsOutward.length">
            <div class="input-label">
              Stop
            </div>
            <select ng-change="stopOutboundSelected()" ng-model="form.stopOutbound">
              <option value="">Select your stop</option>
              <option ng-repeat="stop in stopsOutward" value="{{stop.id}}">
                {{stop.label}}
              </option>
            </select>
          </label>
      </div>
      <div class="item item-divider">
        Select your bus route home
      </div>
    </div>








  </ion-content>
</ion-view>
