<ion-view view-title="Busses">
  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <h2>
      {{$scope.route}} {{$scope.destination}}
    </h2>

    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="bus in busses" type="item-text-wrap"> <!-- href="#/tab/chats/{{chat.id}} -->


        <div class="row">
          <div class="col col-offset-50">
            {{bus.departureduetime}}
          </div>
        </div>


      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
