.view-container {
  background: url('../img/background/broken_noise_@2X.png');
  background-position: center center;
  background-size: 476px 476px;
  background-repeat: repeat;
}


.pane,
.view {
  background: unset;
}
