

.c-countdown {
  padding-top: 0.2em;
  text-align: center;
  font-size: 7em;
  line-height: 1em;
  background: url('../img/background/bg1.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;


  .time-hhmmss {
    small {
      font-size: 0.3em;
    }
  }


  h2,h3 {
    color: #009ee0;
  }

}
